{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Enter your description here"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="static/css/style.css">
        <title>E-Commerce! - Your no.1 E-Commerce App!</title>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg bg-transparent text-white">
            <a class="navbar-brand" href="{% url 'index' %}">E-Commerce!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <li><a class="nav-link" href="#"><i class="far fa-address-card"></i>About M2ndB</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="nav-link active" href="#"><i class ="fa fa-user"></i> Profile <span class="sr-only">(current)</span></a></li>
                    <li><a class="nav-link" href="{% url 'account_logout' %}"><i class ="fa fa-sign-out"></i> Logout</a></li>
                    {% else %}
                    <li><a class="nav-link" href="{% url 'account_login' %}"><i class ="fa fa-sign-in"></i> Login</a></li>
                    <li><a class="nav-link" href="{% url 'account_signup' %}"><i class ="fa fa-user-plus"></i> Sign Up</a></li>
                    {% endif %}
                    <li><a class="nav-link" href="#"><i class="fa fa-at"></i> Contact Us</a></li>
                    
                </div>
            </div>
        </nav>
        <h1>This is my base file!</h1>

        <h2>Below you will find the index file!</h2>

        <div class="container">
            {% if messages %}
                <div class="alert alert-success">
                    <div class="messages">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        {% block main %}
        {% endblock %}
        <footer>
            <h1>E-Commerce</h1>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    </body>
</html>




